
<div id="currentLibrarian" class="Library-Container">
    <h2>Current Librarian:</h2>
    <br>
    <p> Librarian : {{librarian.name}}</p>
    <br>
    <a href="/{{libraryId}}/book">View All Books</a>
    <br>
    <a href="/{{libraryId}}/librarian">View All Librarians</a>
    <form action="/{{libraryId}}/librarian/{{librarian._id}}?_method=DELETE" method="POST">
			<button type="submit">Delete</button>
    </form>


<br>
<a href="/{{libraryId}}/edit">Edit Contents</a>
<br>
<form action="/{{libraryId}}?_method=DELETE" method="POST">
			<input type="submit" value="Delete"></submit>
</form>
	<a href="/">Return to Home Page</a>
</div>