<div id="bookindex" class="Library-Container">
    <h1>Books</h1>
    {{#each books}}
    <p>Name: {{name}}</p>
    <p>Author: {{author}}</p>
    <p>Genre: {{genre}}</p>
    <a href="/{{../library._id}}/book/{{_id}}">View book</a>
    <a href="/{{../library._id}}/book/{{_id}}/edit">Edit book</a>
    
    {{/each}}
    <div>
    <a href="/{{library._id}}/book/new"> Add New book </a>
    </div>
    
</div>